.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
    margin-top: 50px;

}
.formControl, .formMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 20px;
   
}
.formControl{
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: var(--medium);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
    font-style: normal;
    cursor: pointer;
    
}
.formMsg{
    height: 100px;
    padding: 10px 20px;
}
.formButton{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-top: 30px;
    justify-content: space-around;

  
}
.formSend{
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.00938em;
    font-style: normal;
    opacity: 0.8;
}
.formControl::placeholder {
    color: #fff;
    opacity: 0.8;
  
  }

 
.formControl:focus{
    outline: none;
    border: 1px solid var(--orange);
    box-shadow: 0 0 10px var(--grey-light);
   
}